
header {
    font-family: 'Libre Baskerville', serif;
    font-size: 60px;
    color: rgb(145, 8, 65);
    text-align: center;
    margin: 2rem;
}

main {
    justify-content: center;
    max-width: 300px;
    margin: auto;
}


@media only screen and (min-width: 900px) {
    main {
        max-width: 500px;
    }

    img {
        max-width: 100%;
        align-self: center;
    }
}
    
